body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.156),rgba(0, 0, 0, 0.261)), url(./image/netflix_background.jpg);
    height: 100vh;
}

.container{
    width: 100vw;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.container img{
    width: 150px;
}

.login-box{
    background-color: #000000d1;
    width: 430px;
    height: 630px;
    border-radius: 50px;
    padding: 50px;
}

.label {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

.a {
    text-decoration: none;
  }


